.navbar{
  padding: 2rem 0 3rem;
  background: none;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  min-height: 5rem;
  margin-bottom: 2rem;
  background-attachment: scroll;
  background-clip: border-box;

  .container{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;

    :before{
      display: table;
      content: " ";
    }
  }
  @media (min-width:768px){
    .container{width:750px}
  }
  @media (min-width:992px){
    .container{width:970px}
  }
  @media (min-width:1200px){
    .container{width:1170px}
  }

  :before{
    display: table;
    content: " ";
  }
}
.navbar-header {
   float: left;
}

.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  float: left;
  padding-top: 15px;
}