$t-time: 0.28s;
$default-transition: all $t-time ease-in-out;

.navbar {
  padding: 2rem 0 3rem;
  background: none;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  min-height: 5rem;
  margin-bottom: 2rem;
  background-attachment: scroll;
  background-clip: border-box;
  -webkit-transition: all $t-time ease-in-out;
  /* Safari */
  transition: all $t-time ease-in-out;

  .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width:768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width:992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width:1200px) {
    .container {
      width: 1170px;
    }
  }
}

.navbar-sticky {
  padding: 1rem 0 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: #1c1c1cbf;
  -webkit-transition: background $t-time, padding $t-time;
  /* Safari */
  transition: background $t-time, padding $t-time;

  li {
    margin: 1rem 2rem 0 !important;
    transition: margin $t-time, padding $t-time;
  }

  .logo {
    padding-top: 0.8rem;
    -webkit-transition: padding-top $t-time;
    /* Safari */
    transition: padding-top $t-time;
  }
  .icon{
    padding-top: .7rem !important;
    padding-bottom: 0 !important;
  }
}

.nav > li {
  margin: 2.5rem 2rem 0;
  float: left;
  cursor: pointer;
  position: relative;
  color: #ffffff;
  -webkit-transition: margin $t-time;
  /* Safari */
  transition: margin $t-time;
}

.nav > li > a {
  margin: 0 !important;
  color: #ffffff;
  padding: 0 !important;
}

.nav > li :hover::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
  border: 1px solid;
  transition: -webkit-transform 0.3s,opacity 0.3s,width 0.7s,height 0.7s;
  transition: transform 0.3s,opacity 0.3s,width 0.7s,height 0.7s;
  transition-timing-function: cubic-bezier(.17,.67,.05,1.29);
  will-change: transform,opacity,width,height;
  opacity: 0.4;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
  -webkit-transform: translate(10px,10px);
  -ms-transform: translate(10px,10px);
  transform: translate(-.7rem,-.2rem);
}

.nav > li .active {
  color: #6deeb9 !important;
  text-decoration: none !important;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); //
}
.nav> li .active::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
  border: 1px solid;
  transition: -webkit-transform 0.3s,opacity 0.3s,width 0.7s,height 0.7s;
  transition: transform 0.3s,opacity 0.3s,width 0.7s,height 0.7s;
  transition-timing-function: cubic-bezier(.17,.67,.05,1.29);
  will-change: transform,opacity,width,height;
  opacity: 0.4;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
  -webkit-transform: translate(10px,10px);
  -ms-transform: translate(10px,10px);
  transform: translate(-.7rem,-.2rem);
}

.navbar-header {
  float: left;
}

.nav-mobile{
  display: none;
}

.nav {
  float: right !important;
  margin: 0;
  padding-left: 0;
}

.nav .icon {
    display: none;
}

@media screen and (max-width : 760px){
  /*
  *MOBILE NAV
  */
  .nav-mobile{
    display: block;
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1002;
    background-color: #262626;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all .28s ease-in-out;

    .nav li {
      display: block;
      width: 100%;
      margin: 2.5rem 0;
      padding: 0 2rem;
    }

    .logo{
      padding: 2rem;
    }
  }
  .open{
    width: 55%;
  }

  .nav li {display: none;}
  .nav a.icon {
    color: #fff;
    font-size: 2.4rem;
    float: right;
    display: block;
    text-align: center;
    padding: 1rem 1.6rem;
    text-decoration: none;
  }

  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

.navbar-collapse {
  display: block!important;
  height: auto!important;
  padding-bottom: 0;
  overflow: visible!important;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: #fff;
  float: left;
  padding-top: 1.5rem;
  -webkit-transition: padding-top $t-time;
  /* Safari */
  transition: padding-top $t-time;
}

.hidden{
  opacity: 0;
}

.overlay{
  position: fixed;
  float: left;
  min-width: 100% !important;
  min-height: 100vh !important;
  background: rgba(0,0,0,0.45);
  min-width: 100% !important;
  min-height: 100vh !important;
  background: rgba(0,0,0,0.45);
  z-index: 98;
  transition: all $t-time ease-in-out;
}
