@import "./components/header";
@import "./components/navbar";
@import './aboutMe';
@import './components/wordscroller';
@import './education';
@import './contact';
@import './skills';
@import './components/footer';
@import './vairables';
@import './components/column';

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $secondary-color;
  font-family: $font-stack;
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  color: $secondary-color;
  font-weight: 700;
  font-size: 3.6em;
  line-height: 44px;
}
h3{
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
a{
  color: $primary-color;
}
li{
  list-style: none;
}
button{
  box-shadow: $shadow;
  padding: 1rem 2rem;
  background: none;
  font-weight: bold;
  font-size: 1.6rem;
  height: 4rem;
  display: inline-block;
  position: relative;
  margin: 3rem 0 0.25em;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.08em;
  outline: 0;
  text-shadow: none;
  border-radius: 0;
  transition: all 200ms ease;
  -webkit-appearance: button;
  cursor: pointer;
  background: #2f3a49;
  border: solid #71FFD9;
  color: #71FFD9;
}

button:hover{
  padding: 1rem 4rem;
  background: #2f3a49;
  border-color: #71FFD9;
  color: #71FFD9;
}

button:active{
  background: #2f3a49;
  border-color: #71FFD9;
  color: #71FFD9;
}
section {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  overflow: visible;
}
.container{
  position: static;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.title{
  color: $secondary-color;
}
.one-page-section{
  padding: 10rem 0;
}
.one-page-section-dark{
  padding: 10rem 0;
  background: #263033;
  color: $primary-color;

  .title{
    color: $primary-color;
  }
}
.layout{
  padding: 0 4rem;
}
@media (max-width: $mobile){
  .layout{
    padding: 0 2rem;
  }
}