@import "./components/header";
@import "./components/navbar";
@import './aboutMe';
@import './components/wordscroller';

$font-stack:    "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$primary-color: #6deeb9;
$secondary-color: #2f3a49;
$tablet: 767px;
$desk: 991px;


* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $secondary-color;
  font-family: $font-stack;
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  font-weight: 300;
  font-size: 2.4rem;
}
.container{
  position: static;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width:768px){
  .container{width:750px}
}
@media (min-width:992px){
  .container{width:970px}
}
@media (min-width:1200px){
  .container{width:1170px}
}
.title{
  color: $secondary-color;
}
.one-page-section{
  padding: 10rem 0;
}
